tensorflow~=2.10.0
pandas~=2.2.3
numpy~=1.26.4
joblib~=1.4.2
keras~=2.10.0
sklearn~=0.0
scikit-learn~=1.6.1
matplotlib~=3.9.0
tqdm~=4.67.1
h5py~=3.12.1
seaborn~=0.13.2
scipy~=1.13.1
streamlit~=1.50.0
plotly~=6.0.1
folium~=0.20.0
pytest~=8.3.5
pytz~=2024.2
requests~=2.32.3
statsmodels~=0.14.4
sympy~=1.13.1
threadpoolctl~=3.5.0
setuptools~=75.8.2
